<!--##begin-->
<!--$Id: publikationen.modify.tem.html $-->
<script type="text/javascript">
<!--
  function resetForm(){
     document.forms[0].reset();
  }
//-->
</script>
<div id="content_1" class="grid-col-2 grid-col-no-gap content">
    #(inhalt)
    <form method="post" action="!#ausgaben_form_aktion" id="eEd">
        <h1>#(ueberschrift)</h1>
        <p>#(inhalt)</p>
        <p>!#ausgaben_form_error</p>
        <fieldset>
            <label for="titel">g(pb_titel)</label>
            !#element_titel
            <label for="alternativ">g(pb_alternativ)</label>
            !#element_alternativ
            <label for="datum">g(pb_datum)</label>
            !#element_datum
            <label for="herausgeber">g(pb_herausgeber)</label>
            !#element_herausgeber
            <label for="beschreibung">g(pb_beschreibung)</label>
            !#element_beschreibung
            <label for="link">g(pb_link)</label>
            !#element_link
            <label for="bild_id">g(pb_bild_id)</label>
            !#element_bild_id

            <!--##loop-list_images-->
                <li class="thumbs">
                    <p><input type="button" id="eb_imgo" value="O" title="Einfügen Original (original)" onclick="!{oclick}" class="butfil" /></p>
                    <img src="!{src}" !{size} alt="!{alt}" title="!{title} g(edit)" onclick="!{oclick}" />
                </li>
            <!--##cont-->
            
            <input type="hidden" name="form_referer" value="!#ausgaben_form_referer" class="hidden" />
            <div class="clearer">&nbsp;</div>
            <input type="submit" name="send[]" value="g(send)" class="first" />
            <input type="reset" name="reset" value="g(reset)" class="next" />
            <input type="button" name="abort" value="g(abort)" onclick="location='!#ausgaben_form_break'" class="next" />
            <div class="clearer">&nbsp;</div>
        </fieldset>
        
        <p>!#ausgaben_output</p>
        <p>!#ausgaben_inaccessible</p>
    </form>
</div>

#{partMargin}
<!--##end-->