<!--##begin-->
<!--$Id: publikationen.delete.tem.html $-->
<div id="content_1" class="grid-col-2 grid-col-no-gap content">
    #(inhalt)
    <form method="post" action="!#ausgaben_form_aktion" id="eEd">
        <h1>#(ueberschrift)</h1>
        <p>#(inhalt)</p>
        <p>!#ausgaben_form_error</p>
        <p>g(pb_titel)</p>
        <p>!#ausgaben_titel</p>
        <p>g(pb_alternativ)</p>
        <p>!#ausgaben_alternativ</p>
        <fieldset>
            <input type="hidden" name="form_referer" value="!#ausgaben_form_referer" class="hidden" />
            <input type="hidden" name="id1" value="!#ausgaben_form_id1" class="hidden" />
            <input type="hidden" name="id2" value="!#ausgaben_form_id2" class="hidden" />
            <input type="hidden" name="delete" value="!#ausgaben_form_delete" class="hidden" />
            <div class="clearer">&nbsp;</div>
            <input type="submit" name="send[]" value="g(send)" class="first" />
            <input type="button" name="abort" value="g(abort)" onclick="location='!#ausgaben_form_break'" class="next" />
            <div class="clearer">&nbsp;</div>
        </fieldset>
        <p>!#ausgaben_output</p>
        <p>!#ausgaben_inaccessible</p>
    </form>
</div>

#{partMargin}
<!--##end-->